@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Global Styles */
*{
    margin:0;
    padding:0;
}
html{
   scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color:#e3e7eb;
    padding-top: 80px;
}

.section-header{
   text-align: center;
}
.section-header p{
   font-weight: 100;
   color: rgb(83, 82, 82);
}

/* RESPONSIVE STYLES */
@media (max-width: 991px) {

}

@media (max-width: 768px) {
  /* Tablets - adjust body padding to match header height */
  body {
      padding-top: 75px;
  }
}

@media (max-width: 480px) {
  /* Phones - adjust body padding to match header height */
  body {
      padding-top: 70px;
  }
}