@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Global Styles */
*{
    margin:0;
    padding:0;
}
html{
   scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color:#e3e7eb;
}

.section-header{
   text-align: center;
}
.section-header p{
   font-weight: 100;
   color: rgb(83, 82, 82);
}


 /* Hero section syles */
 #profile{
    height: 80vh;
    background-color: #295574;
    padding: 2rem;
    margin-top: 100px;
 }

 .profile-container{
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
 }

 .profile-left{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 45%;
 }

 .profile-left h1{
   color: rgb(238, 173, 8);
 }
.profile-btns{
   display: flex;
   gap: 2rem;
}
.profile-btns button {
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    outline:none;
    background-color: white;
    background-color:rgb(238, 173, 8);
    color: white;
    font-weight: 600;
 }

 .profile-btns button:hover{
   background-color: white;
   color:#295574;
 } 

 .profile-icons a{
   text-decoration: none;
   color: white;
   font-size: 3rem;
 }
.profile-right{
   width: 35%;
   height: 80%;
   display: flex;
   align-items: center;
}
.profile-right img{
   width: 100%;
}