/* ABOUT SECTION */
#about{
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   gap: 2rem;
   
}

.about-content{
   /* border: 1px solid red; */
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3);
   gap: 20px;
}
   
.about-introduction{
   /* border: 1px solid green;  */
   /* padding-bottom: 15px; */
}

.about-skills{
   /* border: 1px solid black; */
   display: flex;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
}
.about-skill{
   /* border: 1px solid red; */
   color: white;
   background: #001845;
   /* background:#E6BE1D; */
   /* background:purple; */
   width: 200px;
   height: 40px;
   border-radius: 8px;
   text-align: center;
   align-content: center;
   padding: 2px 4px;
   /* border-radius: 8px; */
   /* white-space: nowrap; */
}

.about-details{
   /* border: 1px solid red; */
   display: flex;
   gap: 15px;
   /* width: 100%; */
}

.left-details{
   /* border: 1px solid green; */
   
}

.left-about-image{
   background: url(../images/about-picture2.jpg) no-repeat center/cover;
   width: 287px;
   height: 418px;
   height: 480px;

}

.left-details p{
   width: 287px;
   height: 150px;
   background:#001845;
   color: #ffffff;
   text-align: center;
   align-content: center;
   font-weight: 600;
   font-size: 1.2rem;

}
.right-details{
   /* border: 1px solid yellow; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 80%
}
.details-card{
   /* border: 1px solid red; */
   background: #ffffff;
   /* width: 644px; */
   /* height: 192px; */
   border-radius: 10px;
   padding-left: 10px;
   padding: 10px;
   box-shadow: 2px 2px#cacfd8;
}


.details-card p{
   font-weight: 600;
   color:#001845;
   font-size: 1.2rem;
   margin-bottom: 15px;
}

.logo-description{
   border: 1px solid #d9dce4;
   /* margin-left: 10px; */
   margin-right: 10px;
   display: flex;
   align-items: center;
   align-content: center;
   /* justify-content: center; */
   gap: 10px;
   border-radius: 10px;
   /* padding-left: 10px; */
   padding: 10px;
}

.card-details-btn{
   background:#001845;
   color: #ffffff;
   width: 184px;
   height: 40px;
   border-radius: 10px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: 10px;
   display: block;
   border: none;
   outline: none;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   font-size: 1.2rem;
   
}

.details-card-content{
   /* border: 1px solid red; */
   margin-top: 15px;
   width: 100%;
}

.details-card-content hr{
   margin-bottom: 10px;
}
.details-card-content p{
   font-weight: 500;
   margin-left: 30px;
}



.about-self-description{
   /* border: 1px solid red; */
   background: #E6BE1D;
   height: 200px;
   font-weight: 600;
   align-content: center;
   padding-left: 50px;
   /* padding-right: 15px; */
}