/* FOOTER Styles */
#footer{
   /* border: 1px solid red; */
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   background-color:#295574;
   color: white;
}

.f-bottom{
   /* border: 1px solid green; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
   padding: 20px;
}

.f-summary{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 10px;
   width: 300px;
}

.f-logo{
   display: flex;
   align-items: center;
   gap: 10px;
}

.f-logo #vn{
   border: 5px solid white;
   border-radius: 50%;
   padding: 3px;
}

.f-links{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.f-links a{
   text-decoration: none;
   color: white;
}

.icon-connect{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.f-icons{
   /* border: 1px solid red; */
   display: flex;
   gap: 10px;
}

.f-icons a{
   text-decoration: none;
   color: white;
   font-size: 1.5rem;
}

#f-contact{
   border: 1px solid white;
   text-align: center;
   padding: 10px 0;
   border-radius: 20px;
   background-color: rgb(228, 188, 58);
}

.copy-right{
   /* border: 1px solid pink; */
   height: 50px;
   align-content: center;
   text-align: center;
   background-color:#092133;
}